body{
    font-family:'Montserrat Light'
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Header Navigation */
header nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #F6F6F6;
}

/* Image Container */
header nav .imagediv {
    height: 100%;
    padding: 1px;
}

header nav .imagediv img {
    height: 100%;
}

/* Navigation List */
header nav ul {
    display: flex;
    flex-grow: 1;
    list-style: none;
    height: 100%;
}

header nav ul li {
    height: 100%;
    width: 100%;
}

/* Navigation Links */
header nav ul li a {
    color: #757575;
    text-decoration: none;
    font-size: 15px;
    line-height: 90px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

/* Hover Effect on Links */
header nav ul li a:hover {
    color: #757575;
    border: 2px solid #757575;
    width: 140px;
    height: 70px;
}