/* Reset default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set font family for the entire body */
body {
    font-family: 'Montserrat Light';
}

/* Image Container */
header .imagediv {
    height: 90px; /* Adjust height to match navigation bar */
    padding: 1px;
    margin-left: 20px; /* Move logo to the left */
    position: fixed;
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it at the left of the viewport */
    z-index: 1000; /* Ensure it appears above other content */
}

header .imagediv img {
    height: 100%;
}

/* Header Navigation */
header nav {
    position: fixed; /* Make the navigation bar fixed */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it at the left of the viewport */
    width: 100%; /* Occupy full width */
    height: 90px; /* Ensure consistent height */
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: #F6F6F6;
    z-index: 999; /* Ensure it appears above other content */
}

/* Navigation List */
header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 10px; /* Add space between items */
    position: relative;
}

/* Navigation Links */
header nav ul li a {
    color: #757575;
    text-decoration: none;
    font-size: 15px;
    line-height: 50px; /* Adjust line height to match height of navigation bar */
    display: inline-block;
    width: 200px;
    text-align: center;
    border: 2px solid transparent; /* Transparent border initially */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover Effect on Links */
header nav ul li a:hover {
    color: #757575;
    border: 2px solid #757575; /* Add border on hover */
    line-height: 50px; /* Maintain line height */
    padding: 0px;
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure text is on top of the image */
}

.one {
    position: absolute;
    top: 95px;
    left: 0;
    right: 15%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Push the image to the back */
}

/* Main Heading */
h1 {
    font-size: 4em;
    margin-top: 120px;
    padding: 0;
    font-family: celesse;
    color:#F6F6F6
    
}

/* Sub Heading */
h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Light';
    color:#F6F6F6
}

footer {
    text-align: center;
    padding: 21px;
    background-color: #F6F6F6;
    color: #000;
    position: fixed;
    bottom: 0;
    left: 0; /* Ensures footer stretches across the entire width */
    width: 100%;
}